#itemImage{
}
#itemImages > div{
	display: inline-block;
}

#itemDescription{
	width: 100%;
}
#itemImage img{
	width: 100%;
}

#itemTitle{
	width: 380px;
}
#itemTitle .field{
	width: 100%;
}
#suggestedItem{
	width: 100%;
	background-color: #ffffff;
	heigth: 100px;
	border: 1px solid #000000;
}
#suggestedItem ul,
#suggestedItem li{
	padding : 0px; 
	margin : 0px; 
}
#suggestedItem li{
	cursor: pointer;
	font-size: 8pt;
}
#suggestedItem li.selected{
	background-color: #4285F4;
	color: #ffffff;
	border: 1px dotted #ffffff;
}
.label{
	width : 100px;
}
#itemTitle{
	display: block;
}
#itemCategory{
	display: inline-block;
}

#mainDiv .ui-icon {
	position: inherit;
	vertical-align: middle;
}
#selectedCategory{
	width: 650px;
}
.itemPreview{
	position: absolute;
	margin-left: 400px;
	z-index: 20;
}
#wishies .itemPreview{
	margin-top: -500px;
	margin-left: 0px;
}

