#itemImages > div{
	display: inline-block;
}
#itemMenuCategory{
	width: 150px;
}
#itemDescription{
	width: 100%;
}
#itemImage img{
	width: 100%;
}

#itemTitle{
	width: 380px;
}
#itemTitle .field{
	width: 100%;
}
#suggestedItem{
	width: 100%;
	background-color: #ffffff;
	heigth: 100px;
	border: 1px solid #000000;
}
#suggestedItem ul,
#suggestedItem li{
	padding : 0px; 
	margin : 0px; 
}
#suggestedItem li{
	cursor: pointer;
	font-size: 8pt;
}
#suggestedItem li.selected{
	background-color: #4285F4;
	color: #ffffff;
	border: 1px dotted #ffffff;
}
.label{
	width : 100px;
}
#itemTitle{
	display: block;
}
#itemCategory{
	display: inline-block;
}

#selectedCategory{
	width: 100%;
}
#wishes .preview{
	margin-top: -30px;
	margin-left: -430px;
}
#wishesForm, #editItemForm, #itemDescription,#userWishes{
	display: inline-block;
	vertical-align: top;
}
#editItemForm,#itemDescription{
	width: 386px;
}
#wishesForm{
	margin-top: 23px;
	width: 310px;
}
.overflow-y{
	height: 300px;
	overflow-y: auto;
	cursor: default;
}
ul#userWishes, div#userWishes ul{
	padding: 0px;
	width: 300px;
	height: 300px;
	overflow-y: auto;
}
div#userWishes ul{
	width: 300px;
}
#saveButton{
	position: relative;
	left: 75%;
}
#editButton{
	width: 100%;
	text-align: center;
}
/* #itemList{ */
/* 	overflow-y: auto; */
/* 	height: 700px; */
/* } */
#itemList .itemInfoDetails,
#itemList .itemImages{
	display: inline-block;
	vertical-align: top;
}
#itemList .itemImages{
	display: inline-block;
	width: 150px;
	height: 150px;
}
#itemList .itemInfos,
#itemList .itemDetails{
	width: 500px;
	margin-left: 10px;
	padding: 5px;
}
#itemList .item{
	height: 150px;
	border-bottom: 1px solid #000;
}
#itemList .itemTitle{
	margin: 5px;
}
#itemList .page{
	width : 100%;
	border-bottom: 1px solid #000;
}