#itemImages > div{
	display: inline-block;
}
#itemMenuCategory{
	width: 150px;
}
#itemDescription{
	width: 100%;
}
#itemImage img{
	width: 100%;
}

#itemTitle{
	width: 380px;
}
#itemTitle .field{
	width: 100%;
}
#suggestedItem{
	width: 100%;
	background-color: #ffffff;
	heigth: 100px;
	border: 1px solid #000000;
}
#suggestedItem ul,
#suggestedItem li{
	padding : 0px; 
	margin : 0px; 
}
#suggestedItem li{
	cursor: pointer;
	font-size: 8pt;
}
#suggestedItem li.selected{
	background-color: #4285F4;
	color: #ffffff;
	border: 1px dotted #ffffff;
}
.label{
	width : 100px;
}
#itemTitle{
	display: block;
}
#itemCategory{
	display: inline-block;
}

#mainDiv .ui-icon {
	position: inherit;
	vertical-align: middle;
}
#selectedCategory{
	width: 100%;
}
.preview{
	position: absolute;
	margin-left: 400px;
	z-index: 20;
	background: #fff;
	padding: 5px;
	border: 1px solid #a46313;
	background-color: #fff;
	box-shadow: 1px 1px 5px #000;
	cursor: default;
}
#wishes .preview{
	margin-top: -30px;
	margin-left: -430px;

}
#wishesForm, #editItemForm{
	display: inline-block;
	vertical-align: top;
}
#wishesForm{
	margin-top: 23px;
	width: 310px;
}
#wishesForm .field{
	width: 240px;
	margin-left: 20px;
}
#wishesMenuCategory{
	width: 170px;
}
#userWishes{
	padding: 0px;
	width: 300px;
	height: 300px;
	overflow-y: auto;
}
#userWishes li .wishedItem{
	width: 250px;
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
}