@CHARSET "UTF-8";

legend
{
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	width:100%;
}


#loginBorder, #registerBorder
{
	background: url("/resources/img/wood-billboard.png") no-repeat;
	padding-top: 15px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 30px;
	min-height : 150px;
	height : auto;
}
#registerBorder{
	padding-top : 30px;
}

.field input.loginBox
{
	width: 150px;
	background: #FFFE8F;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	-webkit-border-radius : 5px 5px;
}

form#loginForm{
	margin-left: auto;
	margin-right: auto;

}

form#loginForm .loginField
{
	vertical-align: middle;
}
form#loginForm .loginField .label
{
	width: 130px;
	text-shadow: 1px 1px 2px #FFF;
}
form#loginForm h2
{
	font-size: 1.0em;
	text-align: center;
	color: #5B3720;
	text-shadow: 1px 1px 2px #FFF;
	
}
#topHomepage{
	height: 220px; 
}
#loginForm{
	width:344px;
}
#loginDiv, #arrowDiv{
	width:700px;
	position: absolute;
	margin-top: 10px;
}
#arrowDiv{
	background: url("/resources/img/arrow_homepage.png") no-repeat;
	min-height: 215px;
	height: auto;
}	
#loginButtons div{
	display: inline-block;
}
#loginButtons
{
	width: 100%;
	text-align: center;
}
#switchToLogin{
	position: relative;
	left: 624px;
	top: 178px;
}
h2#profileTitle{
	margin-left: 16px;
}
#centerTop{
	height: 300px;
	width: 650px;
}
#largeLeftDiv, #largeRightDiv{
	height: 312px;
	width: 280px;
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	padding: 10px;
}
.rightSmallDiv, .leftSmallDiv{
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	margin: 5px;
	width: 250px;
	margin-left: 15px;
}
.leftSmallDiv{
	height: 126px;
	padding-top: 20px;
}