@CHARSET "UTF-8";

legend
{
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	width:100%;
}

#registerBorder{
	padding-top: 31px !important;
	min-height: 134px !important;
}

#loginForm > div, #forgotPasswordForm > div, #changePasswordDiv form > div
{
	background: url("/resources/img/wood_texture.jpg") no-repeat;
	display: inline-block;
	vertical-align: middle;
	padding: 15px 5px 15px 20px;
	min-height: 150px;
	height : auto;
	border: #A39979 solid 2px;
    box-shadow: #000 2px 2px 10px;
}

.field input.loginBox
{
	width: 150px;
	background: #FFFE8F;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
}

#loginForm, #forgotPasswordForm, #changePasswordDiv form{
	margin-left: auto;
	margin-right: auto;

}

.loginField
{
	vertical-align: middle;
}
.loginField .label
{
	width: 130px;
	text-shadow: 1px 1px 2px #FFF;
}
form h2
{
	margin: 0px 0px 5px 0px;
	font-size: 1.0em;
	text-align: center;
	color: #5B3720;
	text-shadow: 1px 1px 2px #FFF;
	
}
#topHomepage{
	height: 250px; 
}
#loginForm, #forgotPasswordForm, #changePasswordDiv form{
	width:344px;
}
#loginDiv, #arrowDiv, #forgotPassword, #changePasswordDiv{
	width:700px;
	position: absolute;
	margin-top: 20px;
}
#loginDiv, #arrowDiv{
	z-index: 10;
}
#forgotPassword{
	z-index: 50;
}
#arrowDiv{
	background: url("/resources/img/arrow_homepage.png") no-repeat;
	min-height: 215px;
	height: auto;
}	
#loginButtons div{
	display: inline-block;
}
#loginButtons
{
	width: 100%;
	text-align: center;
}

h2#profileTitle{
	margin-left: 16px;
}
#centerTop{
	height: 300px;
	width: 650px;
}
#forgotPasswordButton{
	text-align: center;
}
#largeLeftDiv, #largeRightDiv{
	height: 312px;
	width: 280px;
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	padding: 10px;
}
.rightSmallDiv, .leftSmallDiv{
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	margin: 5px;
	width: 250px;
	margin-left: 15px;
}
.leftSmallDiv{
	height: 126px;
	padding-top: 20px;
}
#registerButton{
	margin-top: 14px;
	text-align: center;
}
#arrowDiv .forumButton, #arrowDiv .createItemButton, #switchToLogin, #switchToLogin a{
	position: relative;
	cursor: pointer;
	color: inherit;
	text-decoration: inherit;
}
#arrowDiv .forumButton{
	left: 281px;
	top: 195px;
}
#arrowDiv .createItemButton{
	left: 362px;
	top: -30px;
}
#switchToLogin{
	left: 624px;
	top: 178px;
}
#profileConsole,#wishesForm{
	display: inline-block;
	vertical-align: top;
}
#wishesForm{
	margin-top: 23px;
	width: 310px;
}
#userWishes{
	padding: 0px;
	width: 300px;
	height: 300px;
	overflow-y: auto;
}
#modifyProfile .loginField .label{
	width: 220px;
}