<?xml version="1.0" encoding="UTF-8"?>
<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logger.file}</File>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger[%L] - %m%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>3</maxIndex>
			<FileNamePattern>${logger.file}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>${logger.console}</Target>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${logger.console.level}</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger[%L] - %m%n
			</pattern>
		</encoder>
	</appender>
	<logger name="org.dbunit.operation" level="DEBUG" />
	<logger name="net.sf.ehcache" level="TRACE" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.hibernate.SQL" level="DEBUG" >
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.hibernate.type" level="TRACE" >
		<appender-ref ref="stdout" />
	</logger>
	<root level="${logger.file.level}">
		<appender-ref ref="file" />
	</root>
</configuration>