<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
    xmlns:cache="http://www.springframework.org/schema/cache" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
     				http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
     				http://www.springframework.org/schema/cache
        			http://www.springframework.org/schema/cache/spring-cache.xsd">
	<cache:annotation-driven cache-manager="cacheManager" proxy-target-class="true" />
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" >
		<property name="cacheManager" ref="ehcache" />
	</bean>
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
	    <property name="configLocation"  value="classpath:spring-ehcache.xml"/>
	</bean>
</beans>