<ehcache xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="ehcache.xsd">
    <diskStore path="/tmp/latroquette/spring"/>
    <defaultCache eternal="true" maxElementsInMemory="100" overflowToDisk="false" />        
	<cache name="parameters" maxElementsInMemory="100" eternal="true" overflowToDisk="false" />
</ehcache>