#itemImage{
}
#itemImages > div{
	display: inline-block;
}

#itemDescription{
	width: 100%;
}
#itemImage img{
	width: 100%;
}

#itemTitle{
	width: 380px;
}
#suggestedItem{
	width: 100%;
	background-color: #ffffff;
	heigth: 100px;
	border: 1px solid #000000;
}
#suggestedItem ul,
#suggestedItem li{
	padding : 0px; 
	margin : 0px; 
}
#suggestedItem li{
	cursor: pointer;
	font-size: 8pt;
}
#suggestedItem li.selected{
	background-color: #4285F4;
	color: #ffffff;
	border: 1px dotted #ffffff;
}
.label{
	width : 100px;
}
#newItemForm\:title{
	border: 1px solid;
}

#itemTitle, #clueForIdentifiecation{
	display: inline-block;
}