@CHARSET "UTF-8";

body{
	margin-left: auto;
	margin-right:  auto;
	width: 1280px;
}
#wallpaper{
	background-color: #EEE;
	width:	100%;
	height:	100%; 
	margin :0 0 0 0;
	padding :0 0 0 0;
	float: left;
}

/*div{
	float:left;
}*/
.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}