@CHARSET "UTF-8";

/**
 * jQueryUI override
 **/
.ui-widget {
	font-size: 0.9em;
}
input.ui-button,
.ui-button-text-only .ui-button-text{
	padding: .2em .5em;
}
.ui-icon{
	display: inline-block;
	vertical-align: middle;
}
/**
------------------------
**/
body{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.9em;
	margin : 0px;
	padding : 0px;
}
.errorAlert{
	padding: 2px;
}
#wallpaper, #logo{
	width: 1000px;
}
#wallpaper{
	background-color: #F5FFE0;
	margin-left: auto;
	margin-right:  auto;
	margin : 0px auto 0px auto;
	height:	100%; 
}
#loadingDiv{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	z-index: 1500;
	text-align: center;
}

#loadingBackground{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	z-index: 1501;
}
#loadingImage{
	margin-top: 250px;
	width: 100%;
}
.error{
	color : red;
	font-style: italic;
}
#enTete
{
	background : #F5FFE0;
}
#toolbarLogin .forumButton{
	float:right;
}
#titleHomePage {
	height: 117px;
}
#logo{
	position: absolute;
	text-align: center;
	top: 0px;
	z-index: 0;
}

#toolbarLogin{
	position: relative;
	z-index: 20;
	height: 65px;
}

#titleHomePage > p{
	padding-top: 58px;
	margin-right: 200px;
	margin-left: 366px;
}

#titleHomePage h2{
	font-size:25px;
	color:#03211A;
	margin-top: 0px;
}


fieldset 
{ 
	color:#000;
	border:#000;
	padding-bottom: 5px;
	width : 100%;
}

.categorieJaune
{
	border-color: #FFFE8F;
}

.categorieVerte
{
	border-color: #C48254;
}

#searchForm{
	display: inline-block;
	width: 100%;
	color: black;
	border: black;
	background:-webkit-linear-gradient(top,#6B3617,#C48254);
	-webkit-border-radius:2px;
}
#searchForm .field input{
	border: 1px solid #000;
}
#searchForm .field{
	width: auto;
}
#searchForm .createItemButton{
	float: right;
	margin-right: 20px;
	margin-top: 2px;
}

#searchBox
{
	display: block;
}

#searchBox{
	display: inline-block;
}

#searchForm *{
	display: inline-block;
	vertical-align: middle;
}
#cityBox{
	display: inline-block;
}

.checkbox{
	margin-left: 15px;
}
#cityBox ul.token-input-list-facebook,
#searchObjetBox ul.token-input-list-facebook {
	width : 150px;
	height: 20px;
	-webkit-border-radius:2px;
}

#searchBox ul.token-input-list-facebook {
	height: 20px;
	-webkit-border-radius:2px;
}

#bouton{
	padding: 0px;
	margin: 0px;
}

#toolbarLogin
{
	width: 100%;
}
#bodyPart{
	width : 100%;
}
#menu{
	width: 175px;
	margin: 0px;
	padding: 0px;
}

#content{
	width:820px;
}
#menu,
#content{
	display : inline-block;
	vertical-align: top;
}
#edito{
	width : 100%;	
}

#mainDiv{
	width: 700px;
}
#ads{
	font-size: 0.8em;
	width: 110px;
	background: #fff;
	border: 1px solid #000;
	padding : 0 2px 0 2px;
	text-align: center;
}
#ads h6{
	font-size: 1em;
	margin: 5px 0px 5px 0px;
}
#ads,#mainDiv{
	display: inline-block;
	vertical-align: top;
	min-height: 600px;
}

ul{
	list-style:none;
}

.label
{
	display: inline-block;
	width: 175px;
	text-align: right;
	padding-right: 5px;
	vertical-align: middle;
}
.labelTop
{
	width: 175px;
	vertical-align: middle;
}

.field
{
	width: 175px;
	display: inline-block;
}
.field input{
	border: 1px solid;
}
/* Override JQUERY UI settings*/
.ui-autocomplete{
	font-size : 0.8em;
}
ul.ui-autocomplete{
	font-size : 0.8em;
	z-index: 40;
}

.backgroundText{
	color: #888888;
	font-style: italic;
}
#ads a{
	text-decoration: none;
}
#errorDiv *{
	cursor: default;
}
#errorDiv{
	position: absolute;
	min-height: 30px;
	margin-top: -80px;
	z-index: 100;
	margin-left: 200px;
	padding: 5px;
}
.preview{
	position: absolute;
	margin-left: 400px;
	z-index: 20;
	background: #fff;
	padding: 5px;
	border: 1px solid #a46313;
	background-color: #fff;
	box-shadow: 1px 1px 5px #000;
	cursor: default;
}
#wishesForm .field{
	width: 240px;
	margin-left: 20px;
}
#wishesMenuCategory{
	width: 170px;
}
.wishedItem{
	width: 250px;
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
}
#mainDiv .ui-icon {
	position: inherit;
	vertical-align: middle;
}
.selectedCategories li span{
	vertical-align: middle;
}