@CHARSET "UTF-8";



body{
	font-family:Arial,Comic Sans MS, Serif;
	margin-left: auto;
	margin-right:  auto;
	width: 1000px;
}

.error{
	color : red;
	font-style: italic;
}
#wallpaper{
	background-color: #F5FFE0;
	width:	100%;
	height:	100%; 
	margin :0 0 0 0;
	padding :0 0 0 0;
}
#enTete
{
	background : #F5FFE0;
}

#titleHomePage {
	text-align:center;
	font-family:cmr10;
}

#titleHomePage h1{
	font-size:50px;
	color:#000;
	margin-bottom: 0px;
	padding: 0px;
	margin-top: 0px;
}

#titleHomePage h2{
	font-size:25px;
	color:#03211A;
	margin-top: 0px;
}


fieldset 
{ 
	color:#000;
	border:#000;
	padding-bottom: 5px;
}

.categorieJaune
{
	border-color: #FFFE8F;
}

.categorieVerte
{
	border-color: #C48254;
}

#searchForm{
	display: inline-block;
	width: 100%;
	color: black;
	border: black;
	background:-webkit-linear-gradient(top,#6B3617,#C48254);
	-webkit-border-radius:2px;
}

#searchBox
{
	display: block;
}

#searchBox{
	display: inline-block;
}

#searchForm *{
	display: inline-block;
	vertical-align: middle;
}
#cityBox{
	display: inline-block;
	margin-right: 20px;
}

.checkbox{
	margin-left: 15px;
}
#cityBox ul.token-input-list-facebook,
#searchObjetBox ul.token-input-list-facebook {
	width : 150px;
	height: 20px;
	-webkit-border-radius:2px;
}

#searchBox ul.token-input-list-facebook {
	height: 20px;
	-webkit-border-radius:2px;
}

#bouton{
	padding: 0px;
	margin: 0px;
}

#toolbarLogin
{
	width: 100%;
}
#bodyPart{
	width : 100%;
}

#menu{
	width: 175px;
	margin: 0px;
	padding: 0px;
}

#content{
	width:800px;
}
#menu,
#content{
	display : inline-block;
	vertical-align: top;
}
#edito{
	width : 100%;	
}

#mainDiv{
	width: 700px;
}
#pubs{
	width: 100px;
}
#pubs,#mainDiv{
	display: inline-block;
	vertical-align: top;
}

ul{
	list-style:none;
}

.label
{
	display: inline-block;
	width: 175px;
	text-align: right;
	padding-right: 5px;
	vertical-align: middle;
}
.labelTop
{
	width: 175px;
	vertical-align: middle;
}

.field
{
	width: 175px;
	display: inline-block;
}

/* Override JQUERY UI settings*/
.ui-autocomplete{
	font-size : 0.8em;
}
ul.ui-autocomplete{
	font-size : 0.8em;
	z-index: 40;
}

.backgroundText{
	color: #888888;
	font-style: italic;
}