<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- local connection properties -->
  <property name="hibernate.connection.password">latroquette</property>
  <property name="hibernate.connection.username">latroquette</property>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/latroquette</property>
  <property name="hibernate.dialect">net.latroquette.common.util.database.hibernate.PostgresEnhancedSQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.use_outer_join">true</property>
  <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
  <mapping class="net.latroquette.common.database.data.profile.User"/>
  <mapping class="net.latroquette.common.database.data.location.Location"/>
  <mapping class="net.latroquette.common.database.data.item.Item"/>
  <mapping class="net.latroquette.common.database.data.file.File"/>
  <mapping class="net.latroquette.common.database.data.keyword.ExternalKeyword"/>
  <mapping class="net.latroquette.common.util.parameters.Parameter"/>
 </session-factory>
</hibernate-configuration>
