<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">${database.jdbc.url}</property>
		<property name="hibernate.connection.username">${database.user}</property>
		<property name="hibernate.connection.password">${database.password}</property>
		<property name="hibernate.connection.driver_class">${database.jdbc.driver}</property>
		<property name="hibernate.show_sql">false</property>
	</session-factory>
</hibernate-configuration>
