@CHARSET "UTF-8";

#titleHomePage {
	text-align:center;
	font-family:cmr10;
}

#titleHomePage h1{
	font-size:50px;
	color:#180668;
}

#titleHomePage h2{
	font-size:25px;
	color:#18467b;
}

fieldset 
{ 
	color:#FFF;
	border:#000;
	padding-bottom: 5px;
}


#searchForm{
	display: inline-block;
	width: 100%;
	color:#FFF;
	border:#000;
	background:-webkit-linear-gradient(top,#3a70d1,#001a49);
	-webkit-border-radius:2px;
}

#searchPart1{
	float: left;
}

#searchPart2{
	float: right;
}

#searchBox{
	display: inline-block;
}

#searchForm *{
	vertical-align: middle;
}
#cityBox{
	display: inline-block;
	margin-right: 20px;
}

.checkbox{
	margin-left: 15px;
}
#cityBox ul.token-input-list-facebook {
	width : 200px;
	height: 20px;
	-webkit-border-radius:2px;
}

#searchBox ul.token-input-list-facebook {
	height: 20px;
	-webkit-border-radius:2px;
}

#bouton{
	padding: 0px;
	margin: 0px;
}

#toolbarLogin{
	float: right;
}
#bodyPart{
	width : 100%;
}
#bodyPart > .floatLeft{
	width : 900px;
}
#bodyPart > .floatRight{
	width : 300px;
}
#menu{
	width : 200px;	
}
#edito{
	width : 100%;	
}
#frontPage{
	width: 600px;
}

#menu div{
	float: none;
}
#menu ul{
	margin-top: 0px;
	margin-bottom: 0px;
}