@CHARSET "UTF-8";
#titleHomePage {
	text-align:center;
	font-family:cmr10;
}

#titleHomePage h1{
	font-size:50px;
	color:#180668;
}

#titleHomePage h2{
	font-size:25px;
	color:#18467b;
}

fieldset 
{ 
	color:#18467b;
	border:#000;
	padding-top:10px;
}


#toolbar{
	display: inline-block;
	width: 100%;
}

#searchPart1{
	float: left;
}

#searchBox{
	display: inline-block;
	vertical-align: middle;
}

#cityBox{
	display: inline-block;
	vertical-align: middle;
	float: right;
}

#cityBox ul.token-input-list-facebook {
	width : 200px;
}

#bodyPart{
	width : 100%;
}
#bodyPart > .floatLeft{
	width : 900px;
}
#bodyPart > .floatRight{
	width : 300px;
}
#menu{
	width : 200px;	
}
#edito{
	width : 100%;	
}
#frontPage{
	width: 600px;
}

#menu div{
	float: none;
}
#menu ul{
	margin-top: 0px;
	margin-bottom: 0px;
}