@CHARSET "UTF-8";

#enTete
{
	background : #C3FF8F;
}

#titleHomePage {
	text-align:center;
	font-family:cmr10;
}

#titleHomePage h1{
	font-size:50px;
	color:#000;
	margin-bottom: 0px;
	padding: 0px;
	margin-top: 0px;
}

#titleHomePage h2{
	font-size:25px;
	color:#03211A;
	margin-top: 0px;
}

p{
	font-family:cmr10;
	text-align: center;
	margin-top: 20px;
	padding-top: 25px;
}

fieldset 
{ 
	color:#000;
	border:#000;
	padding-bottom: 5px;
}

.categorieJaune
{
	border-color: #FFFE8F;
}

.categorieVerte
{
	border-color: #C3FF8F;
}

#searchForm{
	display: inline-block;
	width: 100%;
	color: black;
	border: black;
	background:-webkit-linear-gradient(top,#C3FF8F,#FFFE8F);
	-webkit-border-radius:2px;
}

#searchPart1{
	float: left;
}

#searchPart2{
	float: right;
}

#searchBox{
	display: inline-block;
}

#searchForm *{
	vertical-align: middle;
}
#cityBox{
	display: inline-block;
	margin-right: 20px;
}

.checkbox{
	margin-left: 15px;
}
#cityBox ul.token-input-list-facebook {
	width : 200px;
	height: 20px;
	-webkit-border-radius:2px;
}

#searchBox ul.token-input-list-facebook {
	height: 20px;
	-webkit-border-radius:2px;
}

#bouton{
	padding: 0px;
	margin: 0px;
}

#toolbarLogin
{
	width: 100%;
}
#bodyPart{
	width : 100%;
}
#bodyPart > .floatLeft{
	width : 900px;
}
#bodyPart > .floatRight{
	width : 300px;
}

#edito{
	width : 100%;	
}
#frontPage{
	width: 600px;
}
