/* Slidorion Stylesheet */
.slidorion {
	width: 650px;			/* Set to slidorion width. Is equal to .slider + .accordion width */
	height: 450px;			/* Set to slidorion height. Is equal to .slider and .accordion height */
	background: #acc85d;
	padding: 10px;
	border: 1px solid #627823;
	box-shadow: 0 0 34px #627823;
	margin: 0 auto 0 auto;
}

.slider {
	width: 55%;
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;		/* Hides the animations */
}

.slider .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.slide{
	background: #DDCDB0;
}
.slide img{
	height: 100%;
	margin: 0 auto 0 auto;
}
.slide img.noImage{
	margin-top: 55px;
	height: 312px;
	width: 312px;
}
.accordion {
	width: 45%;
	height: 100%;
	font-family: Verdana;
	background: #A0CF19;
	box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	position: relative;
	z-index:999;
	overflow-y: auto;
	float: left;
}

.accordion .header {
	padding: 8px 14px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #E4BD7B;
	background: -moz-linear-gradient(top, #E4BD7B 59%, #C8AA60 100%);
	background: -webkit-linear-gradient(top, #222 59%,#A0CF19 100%);
	background: -o-linear-gradient(top, #E4BD7B 59%,#C8AA60 100%);
	background: -ms-linear-gradient(top, #E4BD7B 59%,#C8AA60 100%);
	background: linear-gradient(top, #E4BD7B 59%,#C8AA60 100%);
	border-top: 1px solid #ccc;
}

.accordion .header:first-child {
	border-top: none;
}

.accordion .header:hover {
	background: #718c29;
	cursor: pointer;
}

.accordion .header.active {
	border-bottom: none;
	background: #676767 !important;
	color: #FFF;
}

.accordion .content {
	height: 258px;			/* This height needs to be changed as it depends on the accordion height and number of tabs */
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	padding: 16px;
	border: none;
	background: #A0CF19;
	background: -moz-linear-gradient(top, #E4BD7B 0%, #ffffff 10%);
	background: -webkit-linear-gradient(top, #A0CF19 0%,#222 10%);
	background: -o-linear-gradient(top, #E4BD7B 0%,#ffffff 10%);
	background: -ms-linear-gradient(top, #E4BD7B 0%,#ffffff 10%);
	background: linear-gradient(top, #A0CF19 0%,#ffffff 10%);
	overflow:auto;
	color: #fff;
}

.accordion .content p {
	margin-bottom: 10px;
}

.slidorion .slidorion-nav {
    position: absolute;
    top: 200px;
    width: 16px;
    height: 27px;
    z-index: 9999;
    background: url('../img/arrows.png') 0 0 no-repeat;
    cursor: pointer;
}

.slidorion .slidorion-nav-left {
	left: 30px;
}

.slidorion .slidorion-nav-right {
	right: 310px;
	background-position: -16px 0;
}