@CHARSET "UTF-8";

legend
{
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	width:100%;
}
.field
{
	width: 175px;
	display: inline-block;
}

#loginBorder 
{
	background: #FFF;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius : 5px 5px;
	
}

.field input.loginBox
{
	width: 150px;
	background: #FFFE8F;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	-webkit-border-radius : 5px 5px;
}

form#loginForm .loginField
{
	vertical-align: middle;
}

#loginForm .label
{
	display: inline-block;
	width: 175px;
	text-align: right;
	padding-right: 5px;
}

#loginButton
{
	width: 100%;
	text-align: center;
	padding: 15px;
	padding-bottom: 0px;
}